MONGO_PORT=27017
MONGO_DB=resume_parser

RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
RABBITMQ_USER=resume
RABBITMQ_PASSWORD=resume123

MONGO_URI=mongodb://mongo:27017/resume_parser
RABBITMQ_URL=amqp://resume:resume123@rabbitmq:5672